# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
.venv/
venv/
env/

# =====================
# Node / Electron
# =====================
node_modules/
npm-debug.log*

# Build outputs
dist/
out/

# OS junk
.DS_Store
Thumbs.db

# Runtime app data
data/
tiles_cache/
inference_runs/
training_runs/
logs/

# Training data
MASTERTILE/
